* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f8f8f8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(238, 229, 222);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #5c3d2e;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.hero {
  background: url('back.jpg') center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-content {
  z-index: 1;
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4rem 2rem;
  background-color: rgb(238, 229, 222);
  gap: 2rem;
}

.feature-box {
  max-width: 250px;
  text-align: center;
  border: 2px solid black;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-box h2 {
  margin-bottom: 1rem;
  color: #5c3d2e;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #5c3d2e;
  font-size: 0.9rem;
  color: white;
}

.contact {
  padding: 40px 20px;
  background-color: rgb(238, 229, 222);
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 800px;
}

.content .title {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  color: #5c3d2e;
  margin-bottom: 30px;
}

.contactMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input1 {
  flex: 1;
  min-width: 300px;
  margin-right: 2rem;
}

.label1 {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: bolder;
}

.input2 input {
  width: 30%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.button {
  margin-top: 12px;
}

.button button {
  width: 60%;
  height: 40px;
  border-radius: 12px;
  background-color: #5c3d2e;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.button button:hover {
  background-color: #f2fbf4;
}


@media (max-width: 768px) {
  .contactMenu {
    flex-direction: column;
  }

  .input1 {
    margin: 0;
    padding: 0;
  }

  .input2 input {
    width: 100%;
  }
}